@use "../../styles/index.scss" as *;

.menu {
  @include respondTo("l") {
    display: block !important;
  }

  button {
    padding: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: 0;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  button:hover {
  }

  .rotate-180deg {
    transform: matrix(-1, 0, 0, -1, 0, 0);
  }

  .rotate-90deg {
    transform: matrix(0, -1, 1, 0, 0, 0);
  }

  &Layout {
    box-shadow: rgba(58, 70, 73, 0.2) 0px 10px 20px 0px;

    .liArrow {
      padding: 4px;
    }

    ul {
      padding: 0;
      list-style-type: none;
    }
  }
}
