$breakpoints: (
  "s": (
    0px,
    767px,
  ),
  "m": (
    768px,
    1023px,
  ),
  "l": 1024px
);
@mixin respondTo($breakname) {
  $bp: map-get($breakpoints, $breakname);
  @if type-of($bp) == "list" {
    // 数组的情况，说明当前尺寸在s、m之间
    $min: nth($bp, 1);
    $max: nth($bp, 2);

    @media screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}
